@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1200px;
  margin: auto;
  max-width: 100%;
}
.container .row {
  display: flex;
}

nav {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 8px;
  max-width: 100%;
}
nav .logo {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  margin-top: 11px;
}
nav label {
  margin-top: 11px;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 17px;
}

.navbar {
  margin-left: auto;
}
.navbar li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar li :hover {
  background-color: rgb(54, 54, 54);
  transition: all 0.9s;
  width: 100%;
  cursor: pointer;
}
.navbar li :hover a {
  color: white;
}
.navbar li a {
  text-decoration: none;
  padding: 25px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
}

.box .col {
  display: flex;
  flex-wrap: wrap;
}
.box .img-girl {
  height: 700px;
  max-width: 100%;
  padding-top: 50px;
  padding-left: 50px;
}

.col1 {
  width: 650px;
  height: 300px;
  max-width: 100%;
  margin-left: 35%;
  margin-top: 200px;
  border: 3px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), inset 0px 0px 0px 3px rgb(255, 255, 255);
  border-width: 20px;
  background-color: rgb(238, 235, 235);
  position: absolute;
  color: aliceblue;
  justify-content: center;
  text-align: center;
}
.col1 span {
  font-size: 80px;
}
.col1 .text1 {
  font-size: 25px;
  padding-top: 40px;
  color: rgb(97, 97, 97);
}

.nav1 {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}
.nav1 li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.nav1 li :hover {
  background-color: rgb(54, 54, 54);
  transition: all 0.9s;
  width: 100%;
  cursor: pointer;
}
.nav1 li :hover a {
  color: white;
}
.nav1 li .bar {
  margin: auto;
  justify-content: center;
  text-align: center;
}
.nav1 li .row1 {
  display: flex;
  justify-content: center;
}
.nav1 li .text {
  text-decoration: none;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
}

.content-images {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
.photos .second {
  width: 100%;
  padding-bottom: 25px;
  padding-left: 25px;
}
.photos .third {
  width: 100%;
  padding-left: 25px;
}

.bottom-photos {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.small-pic {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}
.small-pic .fourth {
  width: 90%;
  height: 100%;
}

.last-pic {
  display: flex;
  margin-top: 25px;
}
.last-pic .smallest-pic img {
  width: 90%;
  height: 100%;
  margin-left: 25px;
}

.button {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
}
.button .a-button {
  font-weight: 900;
  color: black;
}
.button :hover {
  color: rgb(104, 101, 101);
}

.title-blog {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 7%;
  text-align: center;
}

.img-footer {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.img-footer .first-child {
  width: 30%;
}
.img-footer .first-child h2 {
  color: black;
  text-align: center;
}
.img-footer .first-child p {
  color: rgb(143, 140, 140);
  text-align: center;
}
.img-footer .sec-child {
  padding-left: 25px;
  width: 30%;
}
.img-footer .sec-child h2 {
  color: black;
  text-align: center;
}
.img-footer .sec-child p {
  color: rgb(143, 140, 140);
  text-align: center;
}
.img-footer .third-child {
  margin-left: 50px;
  width: 30%;
}
.img-footer .third-child h2 {
  color: black;
  text-align: center;
}
.img-footer .third-child p {
  color: rgb(143, 140, 140);
  text-align: center;
}

.footer {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: rgb(143, 140, 140);
}

.footer ul {
  margin-right: 4%;
}

.footer li {
  display: inline-block;
}

.footer a {
  display: block;
  padding: 17px;
  color: black;
}

.footer a:hover {
  color: rgb(228, 225, 225);
}

.footer span {
  color: black;
}

@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .img-footer {
    width: 100%;
  }

  .img-footer .first-child {
    width: 50%;
  }

  .img-footer .sec-child {
    width: 50%;
  }

  .img-footer .third-child {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .img-footer {
    width: 100%;
  }

  .img-footer .first-child {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .img-footer .sec-child {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .img-footer .third-child {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 838px) {
  .navbar li a {
    padding: 15px;
    font-size: 14px;
  }
}
@media (max-width: 736px) {
  .nav1 li .text {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
  }

  .navbar li a {
    padding: 10px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
